<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center page-header" style="color: green; font-size: 70px">Turf Wars</h1>
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <form action="/room" method="post">      
                <input class="btn btn-default btn-block" type="submit" value="Create your new public room"/>
            </form>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <form action="/lobby" method="get">
                <input class="btn btn-default btn-block" type="submit" value="Join a public room" />
            </form>
        </div>
        <hr>
        <div class="col-md-offset-1 col-md-10" style="margin-top: 15px">
            <p>
                <strong>Controls:</strong> WASD to select character and move around the map. Enter to confirm character selection.
                HJKL to use each of the 4 character skills in combat.
            </p>
            <p>
                <strong>Gameplay:</strong> Upon joining a room and selecting your character, you and your opponent's character will
                be placed inside a rectangular map. Position your character by moving and land attack skills on your opponents
                to claim victory!
            </p>
        </div>
    </div>
</body>
</html>