<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lobby</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="rooms"></div>

    <script>
        function add2Rooms(roomId){
            $('#rooms').append(
                `<div id="${roomId}"><form method="post" action="/room"><input type="hidden" name="roomId" value="${roomId}"><input type="submit" class="room-link" value="Room ${roomId}"></form></div>`);
        }

        var rooms = {{rooms}};
        for (let i=0; i<rooms.length; i++){
            let room = rooms[i];
            add2Rooms(room);
        }

        var socket = io('/lobby',  {transports: ['websocket'], upgrade: false});
        socket.on('add', function(roomId){
            add2Rooms(roomId);
        })
        .on('delete', function(roomId){
            $('#'+roomId).remove();
        })
    </script>
</body>
</html>