<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Public Room ... Waiting</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>{{roomId}}</h2>
    <script>
        var socket = io('/room');
        var roomId = "{{roomId}}";
        socket.emit('roomId', roomId);
        //Change issue handling later
        socket.on('issue', function(issue){
            console.log(issue);
        })
    </script>
</body>
</html>