<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Public Room ... Waiting</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.min.js"></script>
</head>
<body>
    <h2>{{roomId}}</h2>
    <canvas id="gameScreen" width="800" height="560"></canvas>
    <script>
        var roomId = "{{roomId}}";
    </script>
    <script src="/js/bundle.js"></script>
</body>
</html>